# 기초
## 정말 기본적인 EDA

In [1]:
# DataFrame 출력 및 기초 정보 확인
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns = iris.feature_names)

print(iris.head())
print('\n=====\n')
print(iris.tail())
print('\n=====\n')
print(iris.info())
print('\n=====\n')
print(iris.describe())

print('\n=====\n')
print(iris.columns)
print('\n=====\n')
print(iris.isna().sum())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

=====

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

=====

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB
None

=====

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

=====

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

=====

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [2]:
# 컬럼명 변경
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']
iris.columns = iris.columns.str.replace(' ', '_')
print(iris)
print('\n=====\n')

# dtype 변경
iris['sepal_length'] = iris['sepal_length'].astype('int')
print(iris.dtypes)
print('\n=====\n')

# 백슬래시를 삽입하면 줄바꿈을 해도 하나의 코드로 인식할 수 있다.
iris[['sepal_width', 'petal_length']] = \
iris[['sepal_width', 'petal_length']].astype('int')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [4]:
# 슬라이싱
print(iris[0:6])
print('\n=====\n')

# 하나의 컬럽을 Series 형식으로 출력
print(iris['sepal_width'])
print('\n=====\n')

# 여러 개의 컬럼을 DataFrame 형식으로 출력
print(iris[['sepal_width', 'petal_width']].head(5))

   sepal_length  sepal_width  petal_length  petal_width
0             5            3             1          0.2
1             4            3             1          0.2
2             4            3             1          0.2
3             4            3             1          0.2
4             5            3             1          0.2
5             5            3             1          0.4
0      3
1      3
2      3
3      3
4      3
      ..
145    3
146    2
147    3
148    3
149    3
Name: sepal_width, Length: 150, dtype: int64
   sepal_width  petal_width
0            3          0.2
1            3          0.2
2            3          0.2
3            3          0.2
4            3          0.2

---

### row와 column 선택하기

In [13]:
# 1. iloc
# 정수로 된 위치 기반 인덱스로 행과 열을 선택하고자 할 때는 iloc[] 속성을 사용한다.
# 인수는 하나 혹은 두 개가 사용되며 정수, 리스트, 슬라이싱, boolean array가 들어갈 수 있다.
# 인수는 하나만 설정할 경우 행을 지정ㅈ하고, 인수를 두 개 설정할 경우 순서대로 행과 열을 지정함을 의미한다.

print(iris.iloc[1:4])
print(iris.iloc[[1, 3, 5], [0, 2]])
print('\n=====\n')

# 2. loc
# 레이블(인덱스의 이름 혹은 컬럼명)로 행과 열을 선택하고자 할 때는 loc[] 속성을 사용한다.
# iloc[]와 마찬가지로 인수는 하나 혹은 두 개가 사용되며 정수, 리스트, 슬라이싱, boolean array가 들어갈 수 있다.
# 인수를 하나만 설정할 경우 행을 지정하고, 인수를 두 개 설정할 경우 순서대로 행과 열을 지정함을 의미한다.
# loc[]에서 슬라이싱 start:end를 사용할 때에는 start부터 end까지로, 파이썬의 기본 슬라이싱 방법과 달리 end를 포함한다는 것에 주의하자.

print(iris.loc[1:3])
print(iris.loc[[1, 2], 'sepal_length'])

NameError: name 'iris' is not defined

---

### 조건에 맞는 데이터 탐색 및 수정

In [3]:
import pandas as pd
students = pd.DataFrame({'이름' : ['장화', '홍련', '콩쥐', '팥쥐', '해님', '달님'],
                         '국어' : [70, 80, None, 100, None, 85],
                         '수학' : [65, 100, 80, 95, None, 70]})

# 조건이 하나인 경우
print('조건이 하나인 경우\n',students[students['이름'] == '장화'])
print('\n======\n')

# 조건이 두 개 이상인 경우(and(&)와 or(|) 연산자 사용)
print('조건이 두 개 이상인 경우\n', students[(students['국어'] > 80) & students['수학'] <80])
print('\n======\n')

# loc[]에도 조건문을 사용하여 데이터 탐색이 가능하다.
# 또한, loc[]는 존재하지 않는 레이블을 지정할 경우 해당 레이블을 가진 새로운 행/열을 만든다는 특징이 있다.
students.loc[6, '이름' : '수학'] = ['별님', 50, 60]
students.loc[(students['국어']>=80) & (students['수학']>=70), '합격'] = 'Pass'
students.loc[students['합격'] != 'Pass', '합격'] = 'Fail'
print(students)
print('\n======\n')

# 하나의 컬럼에 여러 개의 조건에 따라 다른 값을 반환해야 하는 경우 numpy의 select()를 활용할 수 있다.
# np.select(조건목록, 선택목록, default = 디폴트값)
import numpy as np
condition_list = [(students['국어']>=90),
                  (students['국어']>=80) & (students['국어']<90),
                  (students['국어']>=70) & (students['국어']<80)]
choice_list = ['A', 'B', 'C']
students['점수'] = np.select(condition_list, choice_list, default='F')
print(students)

조건이 하나인 경우
    이름    국어    수학
0  장화  70.0  65.0

======

조건이 두 개 이상인 경우
    이름     국어     수학
0  장화   70.0   65.0
1  홍련   80.0  100.0
2  콩쥐    NaN   80.0
3  팥쥐  100.0   95.0
4  해님    NaN    NaN
5  달님   85.0   70.0

======

   이름     국어     수학    합격
0  장화   70.0   65.0  Fail
1  홍련   80.0  100.0  Pass
2  콩쥐    NaN   80.0  Fail
3  팥쥐  100.0   95.0  Pass
4  해님    NaN    NaN  Fail
5  달님   85.0   70.0  Pass
6  별님   50.0   60.0  Fail

======

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   80.0  100.0  Pass  B
2  콩쥐    NaN   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
4  해님    NaN    NaN  Fail  F
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

---

### 결측값 탐색 및 수정

In [21]:
# 1. 결측값 탐색(isna(na일 경우 True), notna(na가 아닐 경우 True))
print(students.isna())
print('\n====\n')
print(students.notna())
print('\n====\n')

# EDA에서는 결측값이 몇개 있는지 sum읋 하여 보는 것이 편하다.
# sum()은 열 합계를, sum(1)은 행 합계를 의미한다.
print('sum()은 열 합계\n', students.isna().sum())
print('\n====\n')
print('sum(1)은 행 합계\n', students.isna().sum(1))
print('\n====\n')

# 2. 결측값 제거(dropna)
# DataFrame.dropna(axis = 0, how = 'any', thresh = None, subset = None, inplace = False)
    # axis : 0 또는 'index'이면 결측값이 포함된 행을 삭제하고, 1 또는 'columns'이면 결측값이 포함된 열을 삭제
    # how : 'any'이면 결측값이 존재하는 모든 행/열 삭제, 'all'이면 모든 값이 결측값일 때 삭제
    # thresh : 정숫값을 지정하면 결측값이 아닌 값의 개수가 그보다 클때 행 또는 열을 유지
    # subset : 어떤 레이블에 결측값이 존재하면 삭제할지 정의
    # inplace : True이면 해당 DataFrame에서 작업을 수행

print(students.dropna()) # 결측값이 포함된 모든 행을 삭제
print('\n====\n')
print(students.dropna(thresh = 4)) # 결측값이 아닌 값의 개수가 4보다 큰 행만 남기기
print('\n====\n')

# 3. 결측값 대체(fillna)
# DataFrame.fillna(value = None, method = None, axis = None, inplace = False, limit = None)
    # value : 단일 값 혹은 dict/Series/DataFrame 형식으로 대체할 값을 직접 입력
    # method : 'pad', 'ffill'은 이전 값으로 채우고, 'backfill', 'bfill'은 당므에 오는 값으로 채움
    # axis : 0 또는 'index'이면 행방향으로 채우고, 1 또는 'columns'이면 열방향으로 채움
    # limit : method 인자를 지정한 경우 limit으로 지정한 개수만큼만 대체할 수 있음
health = pd.DataFrame({'연도' : [2017, 2018, 2019, 2020, 2021, 2022],
                       '키' : [160, 162, 165, None, None, 166],
                       '몸무게' : [53, 52, None, 50, 51, 54],
                       '시력' : [1.2, None, 1.2, 1.2, 1.1, 0.8],
                       '병결' : [None, None, None, 2, None, 1]})
# 한 번에 대체하기
print(health.fillna(health.mean()))
print('\n====\n')

# 따로 따로 대체하기
health['키'] = health['키'].fillna(health['키'].max())
health['병결'].fillna(0, inplace= True)
health['병결'] = health['병결'].astype('int') # 0.5일만 빠질 순 없잖아
print(health, '\n====\n', health.dtypes)
print('\n====\n')

# 직전 값으로 대체하기
health.fillna(method= 'pad', inplace =True)
print(health)

      이름     국어     수학     합격     점수
0  False  False  False  False  False
1  False  False  False  False  False
2  False   True  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False  False  False  False  False
6  False  False  False  False  False

====

     이름     국어     수학    합격    점수
0  True   True   True  True  True
1  True   True   True  True  True
2  True  False   True  True  True
3  True   True   True  True  True
4  True  False  False  True  True
5  True   True   True  True  True
6  True   True   True  True  True

====

sum()은 열 합계
 이름    0
국어    2
수학    1
합격    0
점수    0
dtype: int64

====

sum(1)은 행 합계
 0    0
1    0
2    1
3    0
4    2
5    0
6    0
dtype: int64

====

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   80.0  100.0  Pass  B
3  팥쥐  100.0   95.0  Pass  A
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

====

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   80.0  100.0  Pass  B
2  콩쥐    NaN   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

====

     연도       키   몸무게   시력   병결
0  2017  160.00  53.0  1.2  1.5
1  2018  162.00  52.0  1.1  1.5
2  2019  165.00  52.0  1.2  1.5
3  2020  163.25  50.0  1.2  2.0
4  2021  163.25  51.0  1.1  1.5
5  2022  166.00  54.0  0.8  1.0

====

     연도      키   몸무게   시력  병결
0  2017  160.0  53.0  1.2   0
1  2018  162.0  52.0  NaN   0
2  2019  165.0   NaN  1.2   0
3  2020  166.0  50.0  1.2   2
4  2021  166.0  51.0  1.1   0
5  2022  166.0  54.0  0.8   1
====
 연도       int64
키      float64
몸무게    float64
시력     float64
병결       int64
dtype: object

====

     연도      키   몸무게   시력  병결
0  2017  160.0  53.0  1.2   0
1  2018  162.0  52.0  1.2   0
2  2019  165.0  52.0  1.2   0
3  2020  166.0  50.0  1.2   2
4  2021  166.0  51.0  1.1   0
5  2022  166.0  54.0  0.8   1

In [23]:
# 중복행 삭제
# DataFrame.drop_duplicates()
print(health[['시력', '병결']].drop_duplicates())

    시력  병결
0  1.2   0
3  1.2   2
4  1.1   0
5  0.8   1

---

### 데이터 정렬

In [46]:
# 1. index를 기준으로 정렬하기
# DataFrame.sort_index(axis = 0, ascending = True, inplace = False)
    # axis : 0이면 행 인덱스를 기준으로, 1이면 컬럼명을 기준으로 정렬
    # ascending : True이면 오름차순, False이면 내림차순
    # inplace : True이면 해당 DataFrame에서 작업을 수행하고 False이면 복사본을 만들어 정렬을 수행하고 이를 반환
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns = iris.feature_names)
iris.sort_index(ascending = False, inplace = True)
print(iris)
print('\n=====\n')

iris.sort_index(axis = 1, ascending = True, inplace = True)
print(iris)

# 2. 특정 컬럼의 값을 기준으로 정렬하기
# DataFrame.sort_values(by, axis = 0, ascemding = True, inplace = False)
    # by : 정렬 기준으로 사용할 컬럼의 이름 혹은 컬럼명의 리스트
    # axis : 0이면 행 인덱스를 기준으로, 1이면 컬럼명을 기준으로 정렬
    # ascending : True이면 오름차순, False이면 내림차순
    # inplace : True이면 해당 DataFrame에서 작업을 수행하고 False이면 복사본을 만들어 정렬을 수행하고 이를 반환
iris.sort_values('petal length (cm)', ascending = True, inplace = True)
print(iris)
print('\n=====\n')

iris.sort_values(['petal width (cm)', 'sepal length (cm)'], inplace = True)
print(iris)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
149                5.9               3.0                5.1               1.8
148                6.2               3.4                5.4               2.3
147                6.5               3.0                5.2               2.0
146                6.3               2.5                5.0               1.9
145                6.7               3.0                5.2               2.3
..                 ...               ...                ...               ...
4                  5.0               3.6                1.4               0.2
3                  4.6               3.1                1.5               0.2
2                  4.7               3.2                1.3               0.2
1                  4.9               3.0                1.4               0.2
0                  5.1               3.5                1.4               0.2

[150 rows x 4 columns]

=====

     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
149                5.1               1.8                5.9               3.0
148                5.4               2.3                6.2               3.4
147                5.2               2.0                6.5               3.0
146                5.0               1.9                6.3               2.5
145                5.2               2.3                6.7               3.0
..                 ...               ...                ...               ...
4                  1.4               0.2                5.0               3.6
3                  1.5               0.2                4.6               3.1
2                  1.3               0.2                4.7               3.2
1                  1.4               0.2                4.9               3.0
0                  1.4               0.2                5.1               3.5

[150 rows x 4 columns]
     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
22                 1.0               0.2                4.6               3.6
13                 1.1               0.1                4.3               3.0
14                 1.2               0.2                5.8               4.0
35                 1.2               0.2                5.0               3.2
16                 1.3               0.4                5.4               3.9
..                 ...               ...                ...               ...
131                6.4               2.0                7.9               3.8
105                6.6               2.1                7.6               3.0
117                6.7               2.2                7.7               3.8
122                6.7               2.0                7.7               2.8
118                6.9               2.3                7.7               2.6

[150 rows x 4 columns]

=====

     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
13                 1.1               0.1                4.3               3.0
12                 1.4               0.1                4.8               3.0
37                 1.4               0.1                4.9               3.6
9                  1.5               0.1                4.9               3.1
32                 1.5               0.1                5.2               4.1
..                 ...               ...                ...               ...
136                5.6               2.4                6.3               3.4
140                5.6               2.4                6.7               3.1
100                6.0               2.5                6.3               3.3
144                5.7               2.5                6.7               3.3
109                6.1               2.5                7.2               3.6

[150 rows x 4 columns]

---

### 데이터 결합

In [12]:
# 단순 연결(concat)
# pandas.concat(objs, axis = 0, ignore_index = False)
    # objs : concat을 실행할 객체의 리스트(DataFrame, Series, Panel object)
    # axis : 0이면 열방향으로 합치고, 1이면 행방향으로 합침
    # ignore_index : True이면 기존 인덱스를 무시하고 0부터 시작하는 정수로 재설정

import pandas as pd
hr1 = pd.DataFrame({'이름' : ['장화', '홍련'],
                    '부서' : ['영업', '회계'],
                    '직급' : ['팀장', '사원']})
hr2 = pd.DataFrame({'이름' : ['콩쥐', '팥쥐'],
                    '직급' : ['사원', '팀장'],
                    '부서' : ['영업', '인사']})
print(pd.concat([hr1, hr2], axis = 0))
print('\n=====\n')
print(pd.concat([hr1, hr2], axis = 0, ignore_index = True))
print('\n=====\n')

# 결합하는 두 데이터프레임이 다른 컬럼을 가지고 있는 경우에는 각 데이터프레임의 컬럼을 모두 가지고 값이 없는 칸은 np.NaN으로 채워진 데이터프레임이 출력된다.
hr3 = pd.DataFrame({'이름' : ['콩쥐', '팥쥐'],
                    '급여' : [3500, 2800],
                    '부서' : ['영업', '인사']})
print(pd.concat([hr1, hr3], axis = 0, ignore_index = True))
print('\n=====\n')

# 행방향으로 결합하는 때도 마찬가지로 행 인덱스를 기준으로 데이터를 재조립한다.
# 결합하는 데이터들의 ㅎ애 길이가 다른 경우 모든 값을 출력하고 정보가 없는 칸은 np.NaN으로 채운다.
hr4 = pd.Series({1: 2500}, name = '급여')
print(pd.concat([hr1, hr4], axis = 1))
print('\n=====\n')

hr5 = pd.DataFrame({'급여' : [4500, 3500, 3000]})
print(pd.concat([hr1, hr5], axis = 1))

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
0  콩쥐  영업  사원
1  팥쥐  인사  팀장

=====

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
2  콩쥐  영업  사원
3  팥쥐  인사  팀장

=====

   이름  부서   직급      급여
0  장화  영업   팀장     NaN
1  홍련  회계   사원     NaN
2  콩쥐  영업  NaN  3500.0
3  팥쥐  인사  NaN  2800.0

=====

   이름  부서  직급      급여
0  장화  영업  팀장     NaN
1  홍련  회계  사원  2500.0

=====

    이름   부서   직급    급여
0   장화   영업   팀장  4500
1   홍련   회계   사원  3500
2  NaN  NaN  NaN  3000

In [19]:
# 조인(merge)
# join도 있지만 merge가 다양한 조건을 사용할 수 있다.
# DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes('_x', '_y'))
    # DataFrame : 결합의 기준이 되는 데이터프레임으로 left DataFrame
    # right : 결합의 대상이 되는 데이터프레임으로 right DataFrame
    # how : {'left', 'right', 'outer', 'inner', 'cross'} 중 하나를 선택하여 조인의 수행방식 선택
    # on  : key 컬럼의 이름(두 테이블에서 key 컬럼의 이름이 같은 경우)
    # left_on/right_on : 두 테이블에서 key 컬럼의 이름이 다를 때, 'on'을 대신하여 각각 지정
    # left_index/right_index : 왼쪽 혹은 오른쪽 데이터프레임의 인덱스를 key로 사용할 경우
    # sort : 키값을 기준으로 정렬할지 여부
    # suffixes : 결합한 데이터프레임에서 왼쪽/오른쪽 데이터프레임의 컬럼명에 사용할 접미사를 왼쪽-오른쪽 순서로 지정

product = pd.DataFrame({'상품코드' : ['G1', 'G2', 'G3', 'G4'],
                        '상품명' : ['우유', '감자', '빵', '치킨']})
sale = pd.DataFrame({'주문번호' : [1001, 1002, 1002, 1003, 1004],
                    '상품코드' : ['G4', 'G3', 'G1', 'G3', 'G5'],
                    '주문수량' : [1, 4, 2, 2, 3]})
print(sale.merge(product, on='상품코드', how='inner'))
print('\n=====\n')
print(sale.merge(product, on='상품코드', how='outer', sort = True))
print('\n=====\n')
print(sale.merge(product, on='상품코드', how='left', sort = True))

   주문번호 상품코드  주문수량 상품명
0  1001   G4     1  치킨
1  1002   G3     4   빵
2  1003   G3     2   빵
3  1002   G1     2  우유

=====

     주문번호 상품코드  주문수량  상품명
0  1002.0   G1   2.0   우유
1     NaN   G2   NaN   감자
2  1002.0   G3   4.0    빵
3  1003.0   G3   2.0    빵
4  1001.0   G4   1.0   치킨
5  1004.0   G5   3.0  NaN

=====

   주문번호 상품코드  주문수량  상품명
0  1002   G1     2   우유
1  1002   G3     4    빵
2  1003   G3     2    빵
3  1001   G4     1   치킨
4  1004   G5     3  NaN

---

### 데이터 요약