# 기초
## 정말 기본적인 EDA

In [1]:
# DataFrame 출력
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns = iris.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [2]:
print(iris.head())
print(iris.tail())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [3]:
print(iris.info())
print(iris.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB
None
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

In [4]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [5]:
iris.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [6]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [7]:
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']
iris

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
iris.columns = iris.columns.str.replace(' ', '_')
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [9]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [10]:
# dtype 변경
iris['sepal_length'] = iris['sepal_length'].astype('int')
iris.dtypes

# 백슬래시를 삽입하면 줄바꿈을 해도 하나의 코드로 인식할 수 있다.
iris[['sepal_width', 'petal_length']] = \
iris[['sepal_width', 'petal_length']].astype('int')

iris

     sepal_length  sepal_width  petal_length  petal_width
0               5            3             1          0.2
1               4            3             1          0.2
2               4            3             1          0.2
3               4            3             1          0.2
4               5            3             1          0.2
..            ...          ...           ...          ...
145             6            3             5          2.3
146             6            2             5          1.9
147             6            3             5          2.0
148             6            3             5          2.3
149             5            3             5          1.8

[150 rows x 4 columns]

In [18]:
# 슬라이싱
print(iris[0:6])

# 하나의 컬럽을 Series 형식으로 출력
print(iris['sepal_width'])

# 여러 개의 컬럼을 DataFrame 형식으로 출력
print(iris[['sepal_width', 'petal_width']].head(5))

   sepal_length  sepal_width  petal_length  petal_width
0             5            3             1          0.2
1             4            3             1          0.2
2             4            3             1          0.2
3             4            3             1          0.2
4             5            3             1          0.2
5             5            3             1          0.4
0      3
1      3
2      3
3      3
4      3
      ..
145    3
146    2
147    3
148    3
149    3
Name: sepal_width, Length: 150, dtype: int64
   sepal_width  petal_width
0            3          0.2
1            3          0.2
2            3          0.2
3            3          0.2
4            3          0.2

In [23]:
# row와 column 선택하기

# 1. iloc
# 정수로 된 위치 기반 인덱스로 행과 열을 선택하고자 할 때는 iloc[] 속성을 사용한다.
# 인수는 하나 혹은 두 개가 사용되며 정수, 리스트, 슬라이싱, boolean array가 들어갈 수 있다.
# 인수는 하나만 설정할 경우 행을 지정ㅈ하고, 인수를 두 개 설정할 경우 순서대로 행과 열을 지정함을 의미한다.

print(iris.iloc[1:4])
print(iris.iloc[[1, 3, 5], [0, 2]])

   sepal_length  sepal_width  petal_length  petal_width
1             4            3             1          0.2
2             4            3             1          0.2
3             4            3             1          0.2
   sepal_length  petal_length
1             4             1
3             4             1
5             5             1