> 제품 1, 2를 만드는 데 재료 a, b, c가 일부 사용되며, 각 12만 원과 18만 원을 벌 수 있다. 재료가 한정적일 때, 최대 수익을 낼 수 있는 제품 1, 2의 개수를 구하시오.


* 재료 공급량 : {a : 1300, b : 1000, c : 1200}

|구분|a|b|c|
|:--:|:--:|:--:|:--:|
|제품 1|20|20|20|
|제품 2|40|30|30|

In [2]:
# 제품 1 : x, 제품 2 : y
# y가 최대(32)일 때부터 하나씩 줄여가며 계산

x=0
y=32
max_profit = 32*18
material_a = 20
material_b = 40
material_c = 240

while ((material_a>0) or (material_b>0) or (material_c>0)) :
    y=y-1
    material_a = material_a+40
    material_b = material_b+30
    material_c = material_c+30

    while ((material_a>=20) and (material_b>=20) and (material_c>=20)) :
        x=x+1
        material_a = material_a-20
        material_b = material_b-20
        material_c = material_c-20

        if (x*12+y*18) > max_profit :
            max_profit = x*12+y*18
            result_x = x
            result_y = y

    if y==0 :
        break

print('최대 수익은 ', max_profit, '만 원이다.')
print('이때의 제품 1 수량은 ', result_x, '개이다.')
print('이때의 제품 2 수량은 ', result_y, '개이다.')

최대 수익은  600 만 원이다.
이때의 제품 1 수량은  5 개이다.
이때의 제품 2 수량은  30 개이다.

> 상품 a, b에 대하여 다음과 같은 구매 패턴이 있다.
>
> [a, a, b, b, a, a, a, a, b, b, b, b, b, a, a, b, b, a, b, b]
(1) 구매 패턴으로 볼 때 두 상품이 연관이 있는지 가설을 세우고 검정하시오.
(2) 검정 결과를 바탕으로 가설을 채택하시오.

#### * 가설을 검정하기 위해 one sample run test를 진행한다.
또한, 해당 데이터를 수치형으로 변환해야 하므로 전처리 진행한다.

* 귀무가설 : 연속적인 관측값이 임의적이다. 즉, 연관성이 없다.
* 대립가설 : 연속적인 관측값이 임의적이 아니다. 즉, 연관성이 있다.

In [5]:
# 전처리

import pandas as pd
# a=1, b=0
data = [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0]

df = pd.DataFrame(data = data, columns = ['product'])
df

    product
0         1
1         1
2         0
3         0
4         1
5         1
6         1
7         1
8         0
9         0
10        0
11        0
12        0
13        1
14        1
15        0
16        0
17        1
18        0
19        0

In [6]:
# one sample run test
from statsmodels.sandbox.stats.runs import runstest_1samp
runstest_1samp(df['product'])

(-1.1144881152070183, 0.26506984027306035)

#### * 첫 번째 값은 검정 통계량, 두 번째 값은 p-value이다.
#### * 따라서 p-value가 유의수준 0.05보다 크므로 귀무가설을 채택한다. 따라서 상품 a와 b의 구매에는 연관이 없다고 할 수 있다.